@model             TwitterConfiguration

@{
    ViewData["Title"] = "Изтриване";
}

<h1>Изтриване</h1>

<h3>Сигурни ли сте, че искате да изтриете това?</h3>
<div>
    <h4>Twitter конфигурация</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApiKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApiKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApiSecretKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApiSecretKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessToken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessToken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessTokenSecret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessTokenSecret)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
